.main-input {

    width: 250px;
    display: block;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    border-bottom: 1px solid #E1E1E1;
    height: 40px;
    padding: 0 27px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);


    &::placeholder {
        font-size: 16px;
        line-height: 19px;
        color: #909090;
    }
}