@import '../../styles//variables.scss';

.notes {
    &__content {
        margin-top: 50px;
        margin-left: 50px;
    }

    &__item-red {
        width: 40px;
        height: 20px;
        background-color: rgb(245, 73, 139);
    }
    &__item-blue {
        width: 40px;
        height: 20px;
        background-color: rgb(74, 91, 241);
    }
    &__item-green {
        width: 40px;
        height: 20px;
        background-color: rgb(97, 236, 69);
    }

}
