@import '../../styles/variables.scss';

.auth {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $link-color;
    background: linear-gradient(to right, $main-bg 50%, #D5E3F4 50%);

    &__form-box {
        padding-bottom: 15px;
        background-color: $link-color;
    }

    &__title {
        color: $title;
        font-size: 20px;
        line-height: 21px;
        font-weight: 700;
        margin-top: 34px;
        margin-left: 27px;
    }

    &__tabs {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__tab {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 148px;
        height: 40px;
        background: $link-color;
        box-shadow: 1px 3px 4px rgba(172, 172, 172, 0.25);
        border-radius: 50px 0px 0px 50px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #FA836A;
        cursor: pointer;
        margin-top: 12px;
    }

    &__inputs {
        position: relative;
        margin-top: 21px;
        margin-bottom: 55px;
        width: 303px;
        margin-right: 97px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        box-shadow: 3px 1px 4px rgb(172 172 172 / 25%);
    }

    &__input {
        border: none;
        width: 100%;
        display: block;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #E1E1E1;
        height: 55px;
        padding: 0 27px;

        &::placeholder {
            font-size: 16px;
            line-height: 19px;
            color: #909090;
        }
    }

    &__input-bottom {
        border-bottom: none;
    }

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -35px;
        width: 70px;
        height: 70px;
        color: $link-color;
        background: linear-gradient(90deg, #79F0F8 0%, #7BACDF 100%);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }

    &__btn:disabled {
        background: linear-gradient(90deg, #bbcacc 0%, #cad5e0 100%);
        cursor: progress;
    }

    &__btn-arrow {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: $link-color;
        border-radius: 30px;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
    }

    &__btn-arrow::after,
    &__btn-arrow::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 3px;
        border-radius: 30px;
        background-color: $link-color;
        right: -2px;
    }

    &__btn-arrow::after {
        top: -4px;
        transform: rotate(35deg);
    }

    &__btn-arrow::before {
        top: 4px;
        transform: rotate(-35deg);
    }

    &__forgot {
        cursor: pointer;
        font-size: 16px;
        line-height: 19px;
        color: #919191;
        text-align: right;
        margin-right: 18px;
    }

    &__forgot:hover,
    &__forgot:focus {
        text-decoration: underline;
    }

    .hidden {
        display: none;
    }

    &__error {
        display: block;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        color: #fff;
        background-color: #FA836A;
    }

    &__err-valid {
        display: inline-block;
        padding: 3px 35px 3px 15px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        color: #FA836A;

    }

}