@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;700&display=swap');
@import './scroll.scss';

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-bg;
    @include text-fonts;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.app {
    position: relative;
    min-height: 100vh;
    background-color: $main-bg;
}

.container {
    padding: 106px 20px 0 234px;
}

@media (max-width: 1620px) {
    .container {
        padding: 70px 20px 0 195px;
    }
}

@media (max-width: 970px) {
    .container {
        padding: 70px 10px 0 115px;
    }
}

@media (max-width: 890px) {
    .container {
        padding: 0 10px 100px 10px;
    }
}

