$main-bg: #F7F7F7;
$sidebar-bg: #2C343F;
$title: #565656;
$text: #7E7E7E;
$input-text: #EDEDED;
$btn-color: #444C57;
$link-color: #fff;
$head-bg: #212832;

@mixin title-fonts {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: $title;

    @media (min-width: 1100px) {
        font-size: 22px;
        line-height: 26px;
    }

    @media (max-width: 1100px) {
        font-size: 20px;
        line-height: 23px;
    }
}

@mixin subtitle-fonts {
    color: $title;
    font-weight: 700;

    @media (min-width: 1100px) {
        font-size: 20px;
        line-height: 23px;
    }

    @media (max-width: 1100px) {
        font-size: 18px;
        line-height: 21px;
    }
}

@mixin text-fonts {
    color: $text;
    font-weight: 300;

    @media (min-width: 1100px) {
        font-size: 16px;
        line-height: 21px;
    }

    @media (max-width: 1100px) {
        font-size: 16px;
        line-height: 18px;
    }
}

@mixin input-item {
    width: 100%;
    display: block;
    margin-top: 15px;
    height: 51px;
    border: none;
    padding: 0 30px 0 23px;
    background-color: $input-text;
    border-radius: 9px;
}